.git
.github
.gitignore

.venv
venv
env
__pycache__
**/__pycache__
*.py[cod]
*.so
*.egg-info

.pytest_cache
.coverage
htmlcov

mlruns
mlartifacts
data
monitoring
screenshots
tests
scripts

*.docx
*.pdf
*.log
.ipynb_checkpoints
.vscode
.idea

Dockerfile.training
docker-compose.yml
DEPLOYMENT.md
README.md
Makefile
run.py
